*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
*.pte
!model/sample/*.pte
model/.venv/
model/__pycache__/
.ipynb_checkpoints/
